.hashtag {
  color: black;
  font-size: 22px;
  font-weight: 700;
}

.order {
  padding: 20px 0px;
  border-bottom: 1px solid #ececf1;

  & p {
    color: rgb(95, 95, 95);
    margin-bottom: 5px;
  }

  & span {
    color: black;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 320px;
}

.product {
  text-align: center;
  max-width: 100px;
}

.emptyOrders {
  margin-top: 5px;
  color: rgb(134, 134, 134);
}

@media (max-width: 1200px) {
  .container {
    margin-top: 40px;
  }
}
