.container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

@media (max-width: 1200px) {
  .container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .container {
    align-items: unset;
  }
}
