.container {
  margin-bottom: 30px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.loadMore {
  display: flex;
  justify-content: center;

  & button {
    background: #ffffff;
    color: #6e6e6e;
    border: 1px solid #cfcfcf;

    &:hover {
      box-shadow: none;
      color: rgb(112, 112, 112);
      border: 1px solid rgb(112, 112, 112);
    }
  }
}

@media (max-width: 1200px) {
  .container {
    justify-content: center;
  }
  .products {
    justify-content: center;
  }
}
